%style= 'html {background: url('+request.protocol+request.host+':'+request.port.to_s+'/assets/splashes/'+@subdomain+'.jpg); background-size:auto 150%; background-position:0 -180px;}'

%h2 
  .title
    -unless @subdomain == 'default'
      = image_tag('/assets/splashes/'+@subdomain+'-logo.png')
    %h4 login

.login-box
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %p
      =# f.label :email
      = f.email_field :email, :placeholder => 'email'
    %p
      =# f.label :password
      = f.password_field :password, :placeholder => 'password'
    %p= f.submit "Sign in"
    - if devise_mapping.rememberable?
      %p
        = f.check_box :remember_me
        = f.label :remember_me
  = render :partial => "social_networks"
  =# render :partial => "devise/shared/links"