#header
  .shell
    #head
      .row-top
        %h1#logo
          %a.notext{:href=>"#{STUDYEGG_STORE_PATH}"} Logo
        .usernav
          -if current_user.nil?
            %a.first.active{:href=>"#{STUDYEGG_STORE_PATH}"} Library
            %ul
              %li
                %a.first.active{:href=>"#{STUDYEGG_USER_MANAGER_PATH}"} Login
          -else
            %a.first.active{:href=>"#{STUDYEGG_PATH}"} My Eggs
            %a{:href=>"#{STUDYEGG_STORE_PATH}"} Library
            %ul
              %li
                %a.first{:href=>"#{STUDYEGG_USER_MANAGER_PATH}/users/edit"} Account
              %li
                %a{:href=>"/logout"} Logout
        .cl